*
{
    margin: 0px;
    padding: 0px;
    background: #e7eaf6;
}

.container
{
    height: 75vh;
    margin-top: 6%;
    justify-content: center;
}

.container2
{
    padding: 15px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 85%;
    width: 75%;
    background-color:#6f95cd;
    border-radius: 20px;
}

.box
{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 70%;
    width: 90%;
    border: 2px black solid;
    text-align: center;
    border-radius: 20px;
    font-size: 50px;
    font-weight: 900;
    background-color: #a2a8d3;
}

.box:hover
{
    transition: 0.5s;
    background-color: white;
}

#input
{
    display: block;
    padding-top: 10px;
    height: 30px;
    width: 48.5%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    border: solid black 3px;   
}

.enter
{
    display: flex;
    margin-right: 12%;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 15%;
    
}

.answer
{
    
    padding-bottom: 10px;
    margin-left: 15%;
}

#input1
{
    background-color: #a2a8d3;
    display: block;
    padding-top: 10px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    width: 85%;
}

#input2
{
    display: block;
    padding-top: 10px;
    height: 30px;
    width: 48.5%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    border: solid black 3px;
}

#clear
{
    margin-top: 10%;
    font-weight: bold;
    background-color: #a2a8d3;
    display: block;
    padding-top: 3px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    width: 83.5%;
    margin-left: 9.9%;
}

#clear:hover
{
    transition: 0.5s;
    background-color: #e7eaf6;
}

h4
{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 41%;
    margin-top: 16%;
}